*{
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../images/adminpage.jpg");
    background-position: center;
    color: black;
    font-weight: 600;
}

input {
    border: 2px solid black;
    width: 200px;
    height: 40px;
    font-weight: 600;
}

.eventInput{
    margin-left: 245px;
}

.eventInput input, label{
    font-weight: 600;
}