*{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.form-login {
    width: 100%;
    max-width: 440px;
    padding: 15px;
    margin: auto;
}

.form-login input, label {
    font-weight: 600;
}

.form-register {
    width: 100%;
    max-width: 550px;
    padding: 10px;
    margin: auto;
    font-weight: 600;
}

.form-register input, label {
    font-weight: 600;
}