*{
    font-family: 'Poppins', sans-serif;
}

input {
    border: 2px solid black;
    width: 200px;
    height: 40px;
    font-weight: 600;
}

table tr, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    text-align: center;
}

.eventInput{
    margin-left: 270px;
}

.scroll{
    overflow-y: auto;
    height: 195px;
}